<%- include ../partials/header.ejs %> <%- include ../partials/navbar.ejs %> <%-
include ../partials/sidebar.ejs %>

<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Task</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/">Beranda</a></li>
            <li class="breadcrumb-item"><a href="/board">Board</a></li>
            <li class="breadcrumb-item">
              <a href="/board/<%= idBoard %>">Detail Board</a>
            </li>
            <li class="breadcrumb-item active">Edit Task</li>
          </ol>
        </div>
      </div>
    </div>
    <!-- /.container-fluid3 -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Form Edit Task</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form action="/board/task/edit/<%= task._id %>?_method=PUT" method="POST">
              <div class="card-body">
                <div class="form-group">
                  <label for="note">Note Task</label>
                  <input
                    type="text"
                    name="note"
                    class="form-control"
                    id="note"
                    placeholder="Masukkan note task"
                    value="<%= task.note %>"
                    required
                  />
                </div>
                <!-- Date  -->
                <div class="form-group">
                  <label>Waktu Mulai</label>
                  <div
                    class="input-group date"
                    id="reservationdate"
                    data-target-input="nearest"
                  >
                    <input
                      name="start_time"
                      type="text"
                      class="form-control datetimepicker-input"
                      value="<%= task.start_time %>"
                      data-target="#reservationdate"
                    />
                    <div
                      class="input-group-append"
                      data-target="#reservationdate"
                      data-toggle="datetimepicker"
                    >
                      <div class="input-group-text">
                        <i class="fa fa-calendar"></i>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Date and time  -->
                <div class="form-group">
                  <label>Waktu Selesai</label>
                  <div
                    class="input-group date"
                    id="reservationdatetime"
                    data-target-input="nearest"
                  >
                    <input
                      name="end_time"
                      type="text"
                      class="form-control datetimepicker-input"
                      value="<%= task.end_time %>"
                      data-target="#reservationdatetime"
                    />
                    <div
                      class="input-group-append"
                      data-target="#reservationdatetime"
                      data-toggle="datetimepicker"
                    >
                      <div class="input-group-text">
                        <i class="fa fa-calendar"></i>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label>Tugaskan ke</label>
                  <select
                    class="select2"
                    name="asigns_to"
                    multiple="multiple"
                    data-placeholder="Select Users"
                    style="width: 100%"
                  >
                    <% for (let i = 0; i < users.length; i++) { %>
                        <% if (users[i]._id != idUser) { %>
                        <option value="<%= users[i]._id %>"><%= users[i].username %></option>
                        <% } %>
                    <% } %>
                  </select>
                </div>
              </div>
              <!-- /.card-body -->

              <div class="card-footer">
                <button type="submit" id="btn-save" class="btn btn-primary">
                  Simpan
                </button>
              </div>
            </form>
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>

<%- include ../partials/footer.ejs %> <%- include ../partials/js.ejs %>
